<h1>Report a missing animal</h1>
<%= link_to "Return home", root_path %>
<h6><%= current_user.first_name %></h6>

<%= simple_form_for @missing_animal do |f| %>
  <%= f.input :species %>
  <%= f.input :age %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :lost_location, input_html: { data: { controller: 'location-autocomplete' } } %>
  <%= f.input :date_lost, as: :date, start_year: Date.today.year - 5, end_year: Date.today.year %>
  <%= f.input :sterilized %>
  <%= f.input :size, as: :select, collection: ['Small', 'Medium', 'Large'], include_blank: false %>
  <%= f.input :color %>
  <%= f.input :sex, as: :select, collection: ['Male', 'Female'], include_blank: false %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
