<h1>SHOW MISSING ANIMAL</h1>
<h3><%= link_to "Return home", root_path %></h3>

<%= @missing_animal.species %>
<%= @missing_animal.age %>
<%= @missing_animal.name %>
<%= @missing_animal.status %>
<%= image_tag url_for(@missing_animal.photo) if @missing_animal.photo.attached? %>

<% unless @missing_animal.user == current_user %>
  <%= button_to 'Start Chat', start_chat_path(user_id: @missing_animal.user.id, missing_animal_id: @missing_animal.id), method: :post %>
<% end %>

<% if @missing_animal.user == current_user %>
  <h6><%= link_to "Edit", edit_missing_animal_path(@missing_animal) %></h6>
  <%= link_to "Delete", missing_animal_path(@missing_animal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= simple_form_for(@missing_animal, url: missing_animal_path(@missing_animal, found: true), method: :delete) do |f| %>
    <%= f.button :submit, "Has this mascot been reunited with its owner? Click here to update its status to FOUND and continue" %>
  <% end %>
<% end %>

<div class="container rounded-lg mt-5 mb-5">
  <iframe
    class="missing-animal-map"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.dig(:google_maps, :api_key) %>&q=<%= @missing_animal.lost_location %>">
  </iframe>
</div>



<h5>Reported by: <%= @user.first_name %></h5>
