<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.name %></h1>
  <%= link_to "Return home", root_path %>

  <div class="messages" data-chatroom-subscription-target="messages" style="height: 400px; overflow-y: auto;">
    <% @chatroom.messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>
</div>

<%= simple_form_for [@chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

<%= link_to 'Delete Chatroom', chatroom_path(@chatroom), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
