<div class="container py-5">
  <h1 class="text-center mb-5 home-title">HOME PAGE</h1>
  <h2 class="text-center mb-5 user-name"><%= current_user.first_name %></h2>

  <div class="row p-3 d-flex align-items-center mt-5 action-section">
    <div class="col-md-4 text-center mb-4">
      <%= link_to "Report a missing mascot", new_missing_animal_path, class: "btn btn-warning missing-button" %>
    </div>
    <div class="col-md-4 text-center mb-4">
      <%= form_with url: root_path, method: :get, class: 'form-inline justify-content-center' do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search for mascots", class: 'form-control search-bar-input' %>
      <% end %>
    </div>
    <div class="col-md-4 text-center mb-4">
      <%= link_to "Found an animal?", new_found_animal_path, class: "btn btn-success missing-button" %>
    </div>
  </div>

  <div class="row animal-list-section">
    <div class="col-md-6 mb-5">
      <% cache 'missing_animals' do %>
        <%= render 'animal_list', title: 'Missing mascots', animals: @missing_animals, path_method: :missing_animal_path %>
      <% end %>
    </div>
    <div class="col-md-6 mb-5">
      <% cache 'found_animals' do %>
        <%= render 'animal_list', title: 'Found mascots', animals: @found_animals, path_method: :found_animal_path %>
      <% end %>
    </div>
  </div>
</div>
