<h1>HOME PAGE</h1>
<h2><%= current_user.first_name %></h2>

<h2>Active chats:</h2>
<% current_user.chatrooms.each do |chatroom| %>
  <% other_user = chatroom.user1 == current_user ? chatroom.user2 : chatroom.user1 %>
  <% if chatroom.status == "accepted" %>
    <%= link_to other_user.first_name, chatroom_path(chatroom) %>
  <% elsif chatroom.status == "pending" && chatroom.user2 == current_user %>
    <%= button_to 'Accept Chat', accept_chatroom_path(chatroom), method: :patch %>
  <% end %>
<% end %>

<div class="row p-3 d-flex align-items-center">
  <h5 class="col-4 text-center"><%= link_to "Report a missing mascot", new_missing_animal_path, class: "missing-button" %></h5>
  <div class="col-4 text-center">
    <%= form_with url: root_path, method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search for mascots", class: 'search-bar-input' %>
      <%= submit_tag "Search", class: "search-bar-submit-button" %>
    <% end %>
  </div>
  <h5 class="col-4 text-center"><%= link_to "Found an animal?", new_found_animal_path, class: "missing-button" %></h5>
</div>

<div class="row">
  <div class="col-6">
    <%= render 'animal_list', title: 'Missing mascots', animals: @missing_animals, path_method: :missing_animal_path %>
  </div>
  <div class="col-6">
    <%= render 'animal_list', title: 'Found mascots', animals: @found_animals, path_method: :found_animal_path %>
  </div>
</div>
