<h1>HOME PAGE</h1>

<h3><%= link_to "Report a missing mascot", new_missing_animal_path %></h3>
<h3><%= link_to "Found an animal?", new_found_animal_path %></h3>
<% if current_user %>
  <h1><%= current_user.first_name %></h1>
<% end %>

<div class="border p-4">
  <h1>Missing mascots:</h1>
  <% if @missing_animals.present? %>
    <% @missing_animals.each do |missing_animal| %>
      <h2>Name: <%= link_to missing_animal.name, missing_animal_path(missing_animal) %></h2>
      <h6>Species: <%= missing_animal.species %></h6>
      <h6>Age: <%= missing_animal.age %></h6>
      <h6>Breed: <%= missing_animal.breed %></h6>
      <h6>Lost location: <%= missing_animal.lost_location %></h6>
      <h6>Date lost: <%= missing_animal.date_lost %></h6>
      <h6>Sterilized: <%= missing_animal.sterilized %></h6>
      <h6>Size: <%= missing_animal.size %></h6>
      <h6>Color: <%= missing_animal.color %></h6>
      <h6>Description: <%= missing_animal.description %></h6>
      <%= image_tag url_for(missing_animal.photo) if missing_animal.photo.attached? %>
    <% end %>
  <% else %>
    <p>No missing mascots to display.</p>
  <% end %>
</div>

<div class="border p-4">
  <h1>Found mascots: </h1>
  <% if @found_animals.present? %>
    <% @found_animals.each do |found_animal| %>
      <h2>Species: <%= link_to found_animal.species, found_animal_path(found_animal) %></h2>
      <h6>Age: <%= found_animal.age %></h6>
      <h6>Breed: <%= found_animal.breed %></h6>
      <h6>Found location: <%= found_animal.found_location %></h6>
      <h6>Date found: <%= found_animal.found_date %></h6>
      <h6>Sterilized: <%= found_animal.sterilized %></h6>
      <h6>Size: <%= found_animal.size %></h6>
      <h6>Color: <%= found_animal.color %></h6>
      <h6>Description: <%= found_animal.description %></h6>
      <%= image_tag url_for(found_animal.photo) if found_animal.photo.attached? %>
    <% end %>
  <% end %>
</div>
